{% set customInputTextCss = 'mt-2 block w-full' %}

<div class="p-10">
    <div class="flex flex-wrap -mx-5">
        <div class="w-1/2 px-5">
            <h2 class="o-heading-5">Input text</h2>

            <label for="input01" class="block mt-4">
                <span class="form-label">Normal</span>
                <input type="text" id="input01" name="input01" class="form-input | {{ customInputTextCss }}" value="Value" placeholder="" />
            </label>

            <label for="input02" class="block mt-4">
                <span class="form-label">Placeholder</span>
                <input
                    type="text"
                    id="input02" name="input02"
                    class="form-input | {{ customInputTextCss }}"
                    placeholder="Value"
                    placeholder="Suscipit corporis optio"
                />
            </label>

            <label for="input03" class="block mt-4 | form-input-error">
                <span class="form-label">Error</span>
                <input type="text" id="input03" name="input03" class="form-input | {{ customInputTextCss }}" value="Possimus ullam" />
            </label>

            <label for="input04" class="block mt-4">
                <span class="form-label">Disabled</span>
                <input type="text" id="input04" name="input04" class="form-input | {{ customInputTextCss }}" disabled value="Lorem ipsum dolor" />
            </label>

            <h2 class="o-heading-5 | mt-8">Textarea</h2>

            <label for="input05" class="block mt-4">
                <span class="form-label">Normal</span>
                <textarea type="text" id="input05" name="input05" class="form-textarea | {{ customInputTextCss }}">Lorem ipsum dolor</textarea>
            </label>

            <label for="input06" class="block mt-4">
                <span class="form-label">Placeholder</span>
                <textarea
                    type="text"
                    id="input06" name="input06"
                    class="form-textarea | {{ customInputTextCss }}"
                    placeholder="Lorem ipsum dolor"
                ></textarea>
            </label>

            <label for="" class="block mt-4 | form-input-error">
                <span class="form-label">Error</span>
                <textarea type="text" class="form-textarea | {{ customInputTextCss }}">Lorem ipsum dolor</textarea>
            </label>

            <label for="" class="block mt-4">
                <span class="form-label">Disabled</span>
                <textarea type="text" class="form-textarea | {{ customInputTextCss }}" disabled>
Lorem ipsum dolor</textarea
                >
            </label>
        </div>

        <div class="w-1/2 px-5">
            <h2 class="o-heading-5">Select</h2>

            <label class="block mt-4">
                <span class="form-label">Normal</span>
                <select class="form-select | {{ customInputTextCss }}">
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                    <option>$25,000</option>
                </select>
            </label>

            <label class="form-input-error | block mt-4">
                <span class="form-label">Normal</span>
                <select class="form-select | {{ customInputTextCss }}">
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                    <option>$25,000</option>
                </select>
            </label>

            <label class="block mt-4">
                <span class="form-label">Disabled</span>
                <select class="form-select | {{ customInputTextCss }}" disabled>
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                    <option>$25,000</option>
                </select>
            </label>

            <h2 class="o-heading-5 | mt-8">Select Multiple</h2>

            <label class="block mt-4">
                <span class="form-label">Normal</span>
                <select class="form-multiselect | {{ customInputTextCss }}" multiple>
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                    <option>$25,000</option>
                </select>
            </label>

            <label class="form-input-error | block mt-4">
                <span class="form-label">Error</span>
                <select class="form-multiselect | {{ customInputTextCss }}" multiple>
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                    <option>$25,000</option>
                </select>
            </label>

            <label class="block mt-4">
                <span class="form-label">Disabled</span>
                <select class="form-multiselect | {{ customInputTextCss }}" multiple disabled>
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                    <option>$25,000</option>
                </select>
            </label>
        </div>

        <div class="w-1/2 px-5 mt-8">
            <h2 class="o-heading-5">Checkbox</h2>

            <div class="block mt-4">
                <span class="form-label">Block</span>
                <div class="{{ customInputTextCss }}">
                    <div>
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" />
                            <span class="ml-2">Option unchecked</span>
                        </label>
                    </div>
                    <div>
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" checked />
                            <span class="ml-2">Option checked</span>
                        </label>
                    </div>
                    <div>
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" disabled />
                            <span class="ml-2">Option disabled</span>
                        </label>
                    </div>
                    <div>
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" checked disabled />
                            <span class="ml-2">Option disabled</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="block mt-4">
                <span class="form-label">Inline</span>
                <div class="inline-flex -mx-2 | {{ customInputTextCss }}">
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" />
                            <span class="ml-2">Option unchecked</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" checked />
                            <span class="ml-2">Option checked</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" disabled />
                            <span class="ml-2">Option disabled</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" checked disabled />
                            <span class="ml-2">Option checked disabled</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-input-error | block mt-4">
                <span class="form-label">Inline Error</span>
                <div class="inline-flex -mx-2 | {{ customInputTextCss }}">
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" />
                            <span class="ml-2">Option unchecked</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" checked />
                            <span class="ml-2">Option checked</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" disabled />
                            <span class="ml-2">Option disabled</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" class="form-checkbox" checked disabled />
                            <span class="ml-2">Option checked disabled</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-1/2 px-5 mt-8">
            <h2 class="o-heading-5">radio</h2>

            <div class="block mt-4">
                <span class="form-label">Block</span>
                <div class="{{ customInputTextCss }}">
                    <div>
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio1" />
                            <span class="ml-2">Option unchecked</span>
                        </label>
                    </div>
                    <div>
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio1" checked />
                            <span class="ml-2">Option checked</span>
                        </label>
                    </div>
                    <div>
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio1" disabled />
                            <span class="ml-2">Option disabled</span>
                        </label>
                    </div>
                    <div>
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio1" checked disabled />
                            <span class="ml-2">Option disabled</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="block mt-4">
                <span class="form-label">Inline</span>
                <div class="inline-flex -mx-2 | {{ customInputTextCss }}">
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio2" />
                            <span class="ml-2">Option unchecked</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio2" checked />
                            <span class="ml-2">Option checked</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio2" disabled />
                            <span class="ml-2">Option disabled</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio2" checked disabled />
                            <span class="ml-2">Option checked disabled</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-input-error | block mt-4">
                <span class="form-label">Inline Error</span>
                <div class="inline-flex -mx-2 | {{ customInputTextCss }}">
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio3" />
                            <span class="ml-2">Option unchecked</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio3" checked />
                            <span class="ml-2">Option checked</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio3" disabled />
                            <span class="ml-2">Option disabled</span>
                        </label>
                    </div>
                    <div class="px-2">
                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="radio3" checked disabled />
                            <span class="ml-2">Option checked disabled</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-1/2 px-5 mt-8">
            <h2 class="o-heading-5">Toggle</h2>

            <div class="block mt-4">
                <label for="toggle1" class="form-toggle">
                    <div class="form-toggle__container-input">
                        <input id="toggle1" name="toggle1" type="checkbox" class="form-toggle__input" />
                        <div class="form-toggle__line "></div>
                        <div class="form-toggle__dot"></div>
                    </div>
                    <div class="form-toggle__label">Normal</div>
                </label>
            </div>

            <div class="form-input-error | block mt-4">
                <label for="toggle2" class="form-toggle">
                    <div class="form-toggle__container-input">
                        <input id="toggle2" name="toggle2" type="checkbox" class="form-toggle__input" />
                        <div class="form-toggle__line "></div>
                        <div class="form-toggle__dot"></div>
                    </div>
                    <div class="form-toggle__label">Error</div>
                </label>
            </div>

            <div class="block mt-4">
                <label for="toggle3" class="form-toggle is-disabled">
                    <div class="form-toggle__container-input">
                        <input id="toggle3" name="toggle3" type="checkbox" disabled class="form-toggle__input" />
                        <div class="form-toggle__line "></div>
                        <div class="form-toggle__dot"></div>
                    </div>
                    <div class="form-toggle__label">Disabled</div>
                </label>
            </div>

            <h2 class="o-heading-5 | mt-8">Range</h2>

            <div class="block mt-4">
                <label for="form-range" class="block mt-4">
                    <span class="form-label">Normal</span>
                    <input type="range" min="1" max="100" value="50" class="form-input-range | {{ customInputTextCss }}" name="form-range" id="form-range">
                </label>
            </div>

            <div class="block mt-4">
                <label for="form-range" class="form-input-error | block mt-4">
                    <span class="form-label">Error</span>
                    <input type="range" min="1" max="100" value="50" class="form-input-range | {{ customInputTextCss }}" name="form-range" id="form-range">
                </label>
            </div>

            <div class="block mt-4">
                <label for="form-range" class="block mt-4">
                    <span class="form-label">Disabled</span>
                    <input type="range" min="1" max="100" value="50" class="form-input-range | {{ customInputTextCss }}" disabled name="form-range" id="form-range">
                </label>
            </div>

        </div>
    </div>
</div>
