
{% set rowCssClass = 'flex -mx-2 | mb-4' %} 
{% set columnCssClass = 'px-2 w-1/2 | flex items-center' %} 
{% set contentCssClass = 'min-h-10 w-full p-5 bg-purple-1 text-white text-center' %}

<div class="p-5">
    <div class="{{ rowCssClass }}">
        {% for column in 1..1 %}
        <div class="{{ columnCssClass }} | w-full">
            <div <div class="{{ contentCssClass }}">12/12</div>
        </div>
        {% endfor %}
    </div>

    <div class="{{ rowCssClass }}">
        {% for column in 1..2 %}
        <div class="{{ columnCssClass }} | w-6/12">
            <div <div class="{{ contentCssClass }}">1/12</div>
        </div>
        {% endfor %}
    </div>

    <div class="{{ rowCssClass }}">
        {% for column in 1..3 %}
        <div class="{{ columnCssClass }} | w-4/12">
            <div <div class="{{ contentCssClass }}">1/4</div>
        </div>
        {% endfor %}
    </div>

    <div class="{{ rowCssClass }}">
        {% for column in 1..4 %}
        <div class="{{ columnCssClass }} | w-3/12">
            <div <div class="{{ contentCssClass }}">1/3</div>
        </div>
        {% endfor %}
    </div>

    <div class="{{ rowCssClass }}">
        {% for column in 1..6 %}
        <div class="{{ columnCssClass }} | w-6/12">
            <div <div class="{{ contentCssClass }}">1/2</div>
        </div>
        {% endfor %}
    </div>

    <div class="{{ rowCssClass }}">
        {% for column in 1..12 %}
        <div class="{{ columnCssClass }} | w-1/12">
            <div <div class="{{ contentCssClass }}">1/12</div>
        </div>
        {% endfor %}
    </div>

    <div class="{{ rowCssClass }}">
        <div class="{{ columnCssClass }} | w-6/12">
            <div <div class="{{ contentCssClass }}">6/12</div>
        </div>

        <div class="{{ columnCssClass }} | w-3/12">
            <div <div class="{{ contentCssClass }}">3/12</div>
        </div>

        <div class="{{ columnCssClass }} | w-3/12">
            <div <div class="{{ contentCssClass }}">3/12</div>
        </div>
    </div>
</div>
